.ant-btn-background-ghost.ant-btn-dangerous {
  color: #f5222d;
  border-color: #f5222d;
  width: 78px;
  height: 31px;
  border-radius: 5px;
}
.ant-btn-background-ghost.ant-btn-primary {
  color: #52c41a !important;
  border-color: #52c41a !important;
}
