.ant-btn-background-ghost.ant-btn-dangerous{
  color: #F5222D;
  border-color: #F5222D;
  width: 78px;
  height: 31px;
  border-radius: 5px;
}
.ant-btn-background-ghost.ant-btn-primary{
  color: #52c41a !important;
  border-color: #52c41a !important;
}
